body {
  /* position: absolute; */
  background: linear-gradient(45deg, white 33%, skyblue);
  /* margin-: 0px; */
  height: 100vh;
  /* overflow-y: hidden; */
}

/* header style */

/* .custom-header {
  /* background-color: seashell; */
/* margin-right: 10px; */
/* border: solid 2px crimson; */
/* filter: drop-shadow(2em 2em 3px); */
/* } */

header h1 {
  font-family: Impact;
  color: white;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.filter-shadow {
  filter: drop-shadow(5px 5px 2px crimson);
}

.filter-shadow-name {
  filter: drop-shadow(5px 5px 3px skyblue);
}

header .name {
  background: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* header {
  box-shadow: crimson;
} */
/* .notOpaque {
  opacity: ;
} */
.custom-nav {
  text-align: right;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  background: transparent;
  /* color: white; */
}

.custom-nav a {
  color: white;
  /* text-decoration-style: double; */
}

.custom-nav a:hover {
  color: red;
}

.this-page {
  font-size: 20px;
  font-weight: 900;
  filter: drop-shadow(5px 5px 5px crimson);
}

/* main section style */
.custom-main {
  border-top-width: 2px;
  border-top-style: solid;
  border-color: crimson;
  border-top-color: crimson;
  background: transparent;
  margin: 1rem;
}

/* remove margins from hr */
hr {
  margin: 0rem;
}

/* make image in about-me take only 40% of the column */
.img-fluid {
  max-width: 40%;
  margin: 10px;
  margin-bottom: 0px;
  margin-right: 1rem;
  border-radius: 50%;
}

.about-me {
  margin: 1rem;
}

.about-me p {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  margin-left: 2rem;
  margin-right: 1.5rem;
}

.about-me h2 {
  font-family: Impact;
}

.custom-contact {
  margin: 1rem;
}

.custom-contact h2 {
  font-family: Impact;
}

form {
  font-family: "Courier New";
  font-size: 16px;
}

.card {
  margin: 0.5rem;
}

.card h5 {
  font-family: "Courier New";
}

/* footer start */

.custom-footer {
  background: transparent;
  text-align: center;
  /* border-width: 2px;
  border-style: solid;
  border-color: crimson; */
}

.custom-footer h3 {
  font-family: Impact;
  font-size: 1rem;
}

/* media query for xs screens */

@media screen and (max-width: 576px) {
  /* .custom-nav {
    text-align: center;
    padding: 2rem;
  } */
  /* make image 100% of width on xs devices */
  .img-fluid {
    max-width: 100%;
    margin-bottom: 5px;
    padding-right: 1rem;
    /* margin-left: auto;
    margin */
  }

  .about-me p {
    text-align: left;
    margin-top: 1rem;
    /* margin-left: 0rem;
    margin-right: 0rem; */
  }
}
